body{
    width:100vw;
    height:100vw;
    margin: 0;
    text-align:center;
}
.nice_boxes{
    width:100%;
    height:100%;
}
.box{
    background: yellow;
    width:31.33%;
    height: 31.33%;
    margin:1%;
    border-radius:10%;
    float:left;
    text-align:center;
}
