body{
    width:100vw;
    margin: 0;
    text-align:center;
}
.nice_boxes{
    width:100%;
}
.box{
    background:orange;
    width:31.33%;
    height: 0;
    padding-bottom: 31.33%;
    margin:1%;
    border-radius:10%;
    float:left;
    text-align:center;
}
