html,body{
    width: 99%;
    margin: 0;
    font-size: 50px;
    background-color: #f0f0f0;
}
p {
    text-align: center;
}
header {
    height: 1rem;
    padding-left: .2rem;
    line-height: .8rem;

    background-color: #29bde0;
}

.b-last_game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    border: solid 1px #d0d0d0;
    margin: 0.2rem 0 0.2rem 0.2rem;
    font-size: 0.3rem;
    color: #9a9a9a;
    background-color: #fff;
}

.b-game_version {
    margin-left: .2rem;
    border: solid 1px #d0d0d0;
    border-bottom: none;
    font-size: .3rem;
    color: #9a9a9a;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.game-name {

    border-bottom: solid 1px #fdd793;
    padding: .5rem 0;
    margin: 0;
    color: #fbb435;

}
.gv {
    position: relative;
    display: block;
    width: 100%;
    height: 2.4rem;
    border: none;
}
.gv-icon {

    position: absolute;
    top:.26rem;
    right: .2rem;

}
.gv-name {
    margin: .2rem .8rem;

    color: #fff;
    line-height: 1.6rem;
    background-color: #69d1e9;
}
.gv-number {

    color:#787878;

}
.gv.i{

}
.circular {
    display: flex;
    justify-content: center;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}
span {display: block;
    float: left;
    width: .2rem;
    height: .2rem;
    margin: .1rem;
    border-radius: .2rem;
    background-color: #f0f0f0;
}
.circular1:hover {
    background-color: #69d1e9;
}



