html,body{

    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 50px;
    background-color: #f0f0f0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.7rem;
    z-index: 1;
}
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1rem;
    padding: 0;
    margin: 0;
    font-size: 0.4rem;
    color: #fff;
    background-color: #29bde0;
}
.h1-left,.h1-right {
    width: .5rem;
    height: .5rem;
}
.h1-left{
    margin-left: .3rem;
}
.h1-right {
    margin-right: .3rem;
}
.h1-content {
    width: 100vw;
    text-align: center;
}
.h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.2rem;
    margin: 0;
    font-size: 0.3rem;
    color: #464646;
    background-color: #b9e9f5;
}
.h2-content {
    width: 100vw;
    padding-left: .8rem
}
.h2-right {
    width: .5rem;
    height: .5rem;
    margin-right: .3rem;
}
.h3 {
    display: flex;
    align-items: center;
    height: 0.2rem;
    background-color: #29bde0;
}
.h3-l {
    width: 1rem;
}
.h3-m {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-width: .2rem;
    border-style: solid;
    border-color: #b9e9f5 transparent transparent transparent;
}
.h4 {

    height: .3rem;
    padding-left: 1rem;
    line-height: .3rem;
    font-size: .2rem;
    color: #fff;
    background-color: #29bde0;

}
main {

    height: 22rem;
    margin-top: 2.7rem;
    background-color: #29bde0;
}
.role {
    float: left;
    width: 20vw;
    height: 20vw;
    padding: 0;
    border: solid 0.9vw #fff;
    margin: 5.5vw 5.5vw 8.3vw 5.5vw;
    text-align: center;

}
.role-name {
    width: 100%;
    height: 80%;
    line-height: 16vw;
    font-size: .5rem;
    color: #0f0f0f;
    background-color: #f5c97b

}
.role-number {
    width: 100%;
    height: 20%;
    line-height: 4vw;
    font-size: .3rem;
    color: #fff;
    background-color: #83b09a;
}
.do{display: none}
.tb {
    width:22vw;
    height: 4.9vw;
    margin: 3vw -1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tb-1,.tb-2,.tb-3,.tb-4{
    background-image: url("images/vote/css_sprites.png");
    background-repeat: no-repeat;
    height: 4.9vw;
    width: 4.9vw;
    margin: .2vw;
    display: inline-block;
    background-color: #fff;
}
.tb-1{
    margin-left: 0;
}
.tb-4{
    margin-right: 0;
}

.tb-1 {background-position: -12px -44px;}
.tb-2 {background-position: -10px -81px;}
.tb-3 {background-position: -14px -123px;}
.tb-4 {background-position: -8px -8px;}

.role:hover .do{display: block}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.6rem;
    text-align: center;
    background-color: #29bde0;
}
button {
    width:80vw;
    height: .8rem;
    border: none;
    font-size: .4em;
    color: #fff;
    background-color: #fbb435;
}