body{
    margin: 0;
    background-color: #fafafa;
}

/*以下是h1*/
.h-1 {
    height: 35px;
    line-height: 35px;
}
#h-1-box {
    display: flex;
    justify-content: space-between;
    color: #29b078;
}
.h1-icon {
    width: 25px;
    height: 25px;
}
.h1-login {
    display: none;
}
@media (max-width: 768px) {
    .h1-icon {
        display: none;
    /*如果设置h1-icon-box为display：none，则这个元素将彻底消失，不能帮助h1-login在右。
    不能使h-1的justify-content: space-between发挥效应*/
    }
    .h1-login {
        display: block;
    }
    .h1-text {
        display: none;
    }
}
/*以上是h1*/

.h-2 {
background-color: #29b078;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    height: 55px;}/*logo居中*/
.navbar-toggle {
    height: 39px;/*按钮居中*/
}

/*以下是h2-menu-prepare*/
.navbar {/*它有默认样式，所以清除*/
    border:0;
    margin: 0;
}
.navbar-default {
    background-color: #29b078;
}
/*以上是h2-menu-prepare*/


/*以下使其出于左右位置*/
.h2-1-logo {
    width: 100px;
    float: left}
@media(min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}
/*以上使其出于左右位置*/

/*以下使选项文字居中,白色*/
.navbar-default .navbar-nav>li>a {
    color: #fff;/*使菜单的选项文字的字体为白*/
    text-align: center;/*使菜单的选项文字的字体居中*/
}
/*以下出现下划线*/
.navbar-default .navbar-nav > li > a {
    border-bottom: solid 5px #29b078;/*为了不撑破*/
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: solid 5px #fff;/*出现下划线*/
}
/*以上出现下划线*/
/*@media (min-width: 768px) {
    .container-fluid > .navbar-collapse {
        margin-right: -30px;
    }
}678-780泵格局*/
@media (min-width: 768px) {
    .container-fluid {
        padding-right: 0px;
    }
    .navbar-collapse {
        padding-right: 0px;
    }
}
/*以上是对header的修饰*/

/*以下是对menu的修饰*/
.menu-1-box,.menu-2-box {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: thin solid #d0d6d9;
}
.menu .menu-1-1 a {
    color: black;
}
.menu-1-2 {
    color: #29b078;
}
.menu-2{
    color: black;
}

.menu-2:hover{
    color: #fff;
    background-color: #29b078;
    text-decoration: none;
    cursor: pointer;
}

/*以上是对menu的修饰*/


/*以下是对表格的修饰*/

.pf-header {
    font-size: 1.7rem;
    font-weight: bold;
}
.pf-header-1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: thin solid #d0d6d9;
}
.pf-header-1 a {
    color: #000;
}

.wrapper{
    display: grid;
    position: relative;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 180px 30px 30px 30px 30px 30px 30px 30px;
    color: #c6c6c6;
    max-width: 450px;
    border:1px solid #c6c6c6;
    font-size: 1.2rem;
    margin: 0 auto;
}
.form {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.box-one{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(images-profession/pf-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}*/

.box-one{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-one img {
    width: 80%;
    min-width: 110px;
}





.box-two{
    grid-column-start: 11;
    grid-column-end: 5;
    padding: 20px 0;
    color: black;
}
.box-two-1{
    margin-top: 18px;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.box-three{
    grid-column-start: 1;
    grid-column-end: 6;
    padding-left: 10px;
    border-top: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    line-height: 29px;
}

.box-four{
    grid-column-start: 11;
    grid-column-end: 6;
    padding-left: 10px;
    border-top: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    line-height: 29px;
}

.box-five{
    grid-column-start: 1;
    grid-column-end: 6;
    padding-left: 10px;
    border-right: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    line-height: 29px;
}
.box-five-1,.box-six-1,.box-thirteen-1{
    color: #f01400;
}

.box-six{
    grid-column-start: 11;
    grid-column-end: 6;
    padding-left: 10px;
    border-bottom: 1px solid #d0d6d9;
    line-height: 29px;
}
.box-six-2 {
    color: #000;
}

.box-seven{
    grid-column-start: 1;
    grid-column-end: 5;
}

.box-eight{
    grid-column-start: 11;
    grid-column-end: 5;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box-eight-1,.box-ten-1,.box-twelve-1 {
    color: black;
}

.box-nine{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    line-height: 30px;
}
.box-ten{
    grid-column-start: 11;
    grid-column-end: 5;
    border-left: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.box-eleven{
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: 1px solid #d0d6d9;
}
.box-twelve{
    grid-column-start: 11;
    grid-column-end: 5;
    border-left: 1px solid #d0d6d9;
    border-bottom: 1px solid #d0d6d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.box-thirteen{
    grid-column-start: 1;
    grid-column-end: 11;
    padding-left: 10px;
    border-bottom: 1px solid #d0d6d9;
    color: #000;
    font-weight: bold;
    line-height: 30px;
}

.box-zero{
    grid-column-start: 1;
    grid-column-end: 11;
    padding-left: 10px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.box-fifteen{
    display: none;
    position: absolute;
    text-align: center;
    padding: 80px 40px 40px 40px;
    height: 390px;
    background-color: #3d3d3d;
    opacity: 0.9;
    -webkit-animation: cartoon 1s;
}


@keyframes cartoon {
    0%{
        -webkit-transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(720deg);
    }
}

.wrapper:hover .box-fifteen{
    display: block;
}




/*以下是对footer的修饰*/
footer {
    background-color: #29b078;
}
.f1 {
    color: #fff;
    padding-top: 10px;
}
.f1-content-2 {
    min-height: 20px;
}
.f1-content-1, .f1-content-2,.f1-content-2{
    margin-bottom: 10px;
}
.f1 a {
    color: white;
}
/*以上是对f1的修饰*/
/*以下是对f2的修饰*/
.f2{
    border-top: solid 1px #32c086;
    color: #fff;
    text-align: center;
}

/*以上是对f2的修饰*/
/*以下是出现下划线的修饰*/
.m5-content:hover{text-decoration:underline;}

.a:hover {text-decoration:underline;}